﻿@model NewCourseProject.Models.Interface ;
@{
    
}
<!doctype html>
<html>
<head>
    <title>Дешифратор онлайн</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <h2>Результат</h2>
    @Model.answer
<form action="/Home/SaveFile" method="post" enctype="multipart/form-data">
    <p>
        <b>Выберите тип файла</b><Br>
        <input type="radio" name="format" value=".txt">txt<Br>
        <input type="radio" name="format" value=".docx">docx<Br>
    </p>
    <p><b>Введите имя файла</b></p>
    <p><input type="text" name="filename"></p>
    <p><input type="hidden" name="Value" value=@Model.Value></p>
    <p><b>Введите директорию для сохранения файла</b></p>
    <p><input type="text" name="directory"></p>
    <p>
        <input type="submit" value="сохранить"><Br>
    </p>
</form>
    <form action="/Home/Index" method="post">
        <p><button>Вернуться на главную страницу</button></p>
    </form>
</body>
</html>