﻿@model NewCourseProject.Models.Interface ;
@{
    string s="";
    if (Model!=null)
    {
        s = Model.Proverka;
    }

}
<!doctype html>
<html>
<head>
    <title>Дешифратор онлайн</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <h2>Добро пожаловать на сайт "Дешифратор онлайн"</h2>
    <h3>Дешифровать файл</h3>
    <form action="/Home/ToDecode" method="post" enctype="multipart/form-data">
        <p><b>Выберите файл</b></p>
        <p><input type="file" name="file" accept="text/plain,application/vnd.openxmlformats-officedocument.wordprocessingml.document"></p>
        <p><b>Введите ключ</b></p>
        <p><input type="text" name="key"></p>
        <p>@s</p>
        <p>
            <input type="submit" value="Расшифровать"><Br>
        </p>
    </form>
    <form action="/Home/Index" method="post">
        <p><button>Вернуться на главную страницу</button></p>
    </form>
</body>
</html>