﻿@model NewCourseProject.Controllers.HomeController;
@{


}
<!doctype html>
<html>
<head>
    <title>Дешифратор онлайн</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <h3>Не все поля были заполнены корректно, попробуйте ещё раз!</h3>
    <form action="/Home/Index" method="post">
        <p><button>Вернуться на главную страницу</button></p>
    </form>
</body>
</html>