﻿@model NewCourseProject.Controllers.HomeController;
@{
}
<!doctype html>
<html>
<head>
    <title>Дешифратор онлайн</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <h2>Добро пожаловать на сайт "Дешифратор онлайн"</h2>
    <h3>Здесь вы можете зашифровать или дешифровать ваш файл формата "docx" и "txt"</h3>
    <form action="/Home/Encoder" method="post" >
        <p><button>Зашифровать</button></p>
    </form>
    <form action="/Home/Decoder" method="post">
        <p><button>Дешифровать</button></p>
    </form>
    <h3>Также вы можете зашифровать свой собственный текст и затем сохранить его!</h3>
    <form action="/Home/UserText" method="post">
        <p><button>Ввести и зашифровать текст</button></p>
    </form>
</body>
</html>