﻿@model NewCourseProject.Models.Interface ;
@{
    string s = "";
    if (Model != null)
    {
        s = Model.Proverka;
    }
}
<!doctype html>
<html>
<head>
    <title>Дешифратор онлайн</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <h2>Добро пожаловать на сайт "Дешифратор онлайн"</h2>
    <h3>Зашифровать текст</h3>
    <form action="/Home/ToEncodeUserText" method="post" enctype="multipart/form-data">
        <p><b>Введите текст</b></p>
        <p><input type="text" name="texttodec" size="150"></p>
        <p><b>Введите ключ</b></p>
        <p><input type="text" name="key"></p>
        <p>
            <input type="submit" value="Зашифроавть"><Br>
        </p>
    </form>
    <p>@s</p>
    <form action="/Home/Index" method="post">
        <p><button>Вернуться на главную страницу</button></p>
    </form>
</body>
</html>